# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
*.egg-info/
*.egg

# Entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Salida
output/
*.mp3
*.mp4
*.jpg

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema Operativo
.DS_Store
Thumbs.db

# Logs
*.log